---
import MainLayout from "../layouts/MainLayout.astro";
import ServantCard from "../components/ServantCard.astro"



---

<MainLayout title="Servant List">
    <nav>
        <figure class="nav__menu"><img src="/icons/menu.svg" alt="hamburguer menu"></figure>
        <figure class="nav__logo"><img src="/logo/logo.png" alt="web logo"></figure>
        <a href="/src/pages/homepage/home" class="nav__title--home">HOME</a>
        <a href="/src/pages/servants/list" class="nav__title--servants">SERVANTS</a>
        <a href="/src/pages/ce/list" class="nav__title--ce">CRAFT ESSENCES</a>
        <figure class="nav__search-bttn"><img src="/icons/search.svg" alt="magnifier button"></figure>
        <figure class="nav__user"><img src="/userprofile/usrDefault.png" alt="user profile image"></figure>
        <!-- login -->
    </nav>
    
    <header>
        <h1 class="header__title">Servants list</h1>
        <form action="https://example.com/search" method="get">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <div class="header__carrousel--showcase"></div>
    </header>

    <main>
        <article class="main__article">
            <div class="main__article__favServantShowcase"></div>
        </article>

        <article class="main__article__top3Servants">

        </article>

        <article class="main__article__top3CE">
            
        </article>

        <section class="main__section__card-container">
        
        </section>
    </main>

    <section class="card-container" id="fate-go-card-container">
        <!--CARDS HERE -->
    </section>

    <footer>
        <section class="footer__top">
            <figure class="footer__top__logo">
                <img src="/logo/logo.png" alt="web logo">
            </figure>

            <div class="footer__top__socials">
                <a href="" class="footer__top__socials--ig">
                 <figure class="social-icons"><img src="/icons/ig_icon.svg" alt="instagram icon"></figure>
                </a>
                <a href="" class="footer__top__socials--tw">
                    <figure class="social-icons"><img src="/icons/x_icon.svg" alt="twitter icon"></figure>
                </a>
                <a href="" class="footer__top__socials--yt">
                    <figure class="social-icons"><img src="/icons/yt_icon.svg" alt="youtube icon"></figure>
                </a>
            </div>
        </section>
        <hr>
        <section class="footer__mid">
            <div class="footer__mid__indexes-container">
                <div class="footer__mid__index">
                    <h2 class="footer__mid__index--titles">Servants</h2>
                    <a href="" class="footer__mid__index--anchors">Catalogue</a>
                    <a href="" class="footer__mid__index--anchors">Tier List</a>
                    <a href="" class="footer__mid__index--anchors">Favorites</a>
                </div>
                <div class="footer__mid__index">
                    <h2 class="footer__mid__index--titles">Craft Essences</h2>
                    <a href="" class="footer__mid__index--anchors">Catalogue</a>
                    <a href="" class="footer__mid__index--anchors">Favorites</a>
                </div>
                <div class="footer__mid__index">
                    <h2 class="footer__mid__index--titles">Materials</h2>
                    <a href="" class="footer__mid__index--anchors">List</a>
                    <a href="" class="footer__mid__index--anchors">Drop Rates</a>
                </div>
            </div>

            <figure class="footer__mid__chibi"><img src="/placeholder.gif" alt="Learning with manga FGO chibi png"></figure>
        </section>


        <section class="footer__bottom">
            <p class="footer__copyright">Copyright &copy 2025 Daisuke171 All rights reserved</p>
            <div class="footer__bottom__links">
                <a href="#" class="footer__privacy">Privacy Policy</a>
                <a href="#" class="footer__terms">Terms & Conditions</a>
            </div>

        </section>
        
    </footer>

    <script is:inline type="module" src="/scripts/fetchData.ts"></script>
</MainLayout>

<!--DESKTOP FIRST APPROACH -->
<style>
    .html{
        display: block;
    }

    nav{
        background-color: azure;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 1rem;
    }

    .social-icons, .social-icons > img{
        width: 25px;
        height: 25px;
    }   

    figure{
        margin: 0;
    }
    .nav__menu > img{
        width: 20px;
    }
    .nav__search-bttn > img{
        width: 30px;
    }
    .nav__logo > img, .footer__top__logo > img{
        width: 200px;
        height: 100px;
        position: relative;
        top: 10px;
    }

    .nav__user > img{
        width: 50px;
        height: 50px;
    }


    header{
        height: 100svh;
        text-align: center;
    }

    main{
        height: fit-content;
    }

    .card-container{
        width: 100px;
    }


    .footer__top{
        background-color: azure;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .footer__top__socials{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }


    .footer__mid{
        background-color: rgb(198, 237, 237);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 3rem;
    }
    .footer__mid__index{
        display: flex;
        flex-direction: column;
    }
    .footer__mid__index--titles{
        margin: 0;
        margin-bottom: 0.5rem;
    }
    .footer__mid__indexes-container{
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
    .footer__mid__chibi{
        justify-self: right;
    }
    
    
    .footer__bottom{
        background-color: azure;
        display: flex;
        padding: 1rem 3rem;
        justify-content: space-between;
    }
    .footer__bottom__links{
        display: flex;
        gap: 2rem;
    }
    .footer__copyright{
        margin: 0;
    }

</style>