---
import MainLayout from "../layouts/MainLayout.astro";
///make it paginated
---

<MainLayout title="Servant List">
    <nav>
        <figure class="nav__menu"><img src="/icons/menu.svg" alt="hamburguer menu"></figure>
        <figure class="nav__logo"><img src="/logo/logo.png" alt="web logo"></figure>
        <a href="/src/pages/homepage/home" class="nav__title--home">HOME</a>
        <a href="/src/pages/servants/list" class="nav__title--servants">SERVANTS</a>
        <a href="/src/pages/ce/list" class="nav__title--ce">CRAFT ESSENCES</a>
        <figure class="nav__search-bttn"><img src="/icons/search.svg" alt="magnifier button"></figure>
        <figure class="nav__user"><img src="/userprofile/usrDefault.png" alt="user profile image"></figure>
        <!-- login -->
    </nav>
    
    <header>
        <h1 class="header__title">Servants list</h1>
        <form action="https://example.com/search" method="get">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <div class="header__carrousel--showcase"></div>
    </header>

    <main>
        <article class="main__article">
            <div class="main__article__favServantShowcase"></div>
        </article>

        <article class="main__article__top3Servants">

        </article>

        <article class="main__article__top3CE">
            
        </article>

        <section class="main__section__card-container">
        
        </section>
    </main>

    <footer>
        <section class="footer__top">
            <figure class="footer__top__logo">
                <img src="/logo/logo.png" alt="web logo">
            </figure>

            <a href="" class="footer__top__socials--ig">
                <figure class="social-icons"><img src="/icons/ig_icon.svg" alt="instagram icon"></figure>
            </a>
            <a href="" class="footer__top__socials--tw">
                <figure class="social-icons"><img src="/icons/x_icon.svg" alt="twitter icon"></figure>
            </a>
            <a href="" class="footer__top__socials--yt">
                <figure class="social-icons"><img src="/icons/yt_icon.svg" alt="youtube icon"></figure>
            </a>
        </section>
        
        <section class="footer__mid">
            <!-- index of pages -->
        </section>


        <section class="footer__bottom">
            <p class="footer__copyright"></p>
            <a href="#" class="footer__privacy"></a>
            <a href="#" class="footer__terms"></a>
        </section>
        
    </footer>
</MainLayout>

<!--DESKTOP FIRST APPROACH -->
<style>
    .html{
        display: block;
        width: ;
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .social-icons,  .social-icons > img{
        width: 25px;
        height: 25px;
    }   


    figure{
        margin: 0;
    }
    .nav__menu > img{
        width: 20px;
    }
    .nav__search-bttn > img{
        width: 30px;
    }
    .nav__logo > img, .footer__top__logo > img{
        width: 200px;
        height: 100px;
    }

    .nav__user > img{
        width: 50px;
        height: 50px;
    }


    header{
        height: 100svh;
        text-align: center;
    }
</style>