---
import "../styles/CardServant.css";
---

<section class="card-container" id="fate-go-card-container">
    <!--CARDS HERE -->
</section>

<script is:inline type="module" src="/scripts/fetchData.ts"></script>



